* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-grafics {
  background-color: rgb(255, 255, 255);
  max-width: 100rem;
  min-width: 600px;
  min-height: 10cem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
}

.item-grafic {
  width: 30rem;
  height: 30rem;
  border: 1px solid rgb(97, 96, 96);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cidade {
}
